.card {
    height: 80vh; /* La hauteur est de 80% de la hauteur de l'écran */
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.062);
}
.message-container {
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}