<div class="card">
    <div class="card-header text-center">
        PlayLists
    </div>
        <div class="card-body">
            <ol class="list-group list-group-numbered" id="bloc listPlaylist">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Rock</div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <button disabled class="btn btn-outline-primary btn-sm">Selectionner</button>
                        <button class="btn btn-light btn-sm">Modifier</button>
                    </div> 
                </div>
                <span class="badge bg-primary rounded-pill">16</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Pop</div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <button class="btn btn-primary btn-sm">Selectionner</button>
                        <button class="btn btn-light btn-sm">Modifier</button>
                    </div>  
                </div>
                <span class="badge bg-primary rounded-pill">108</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rap</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button class="btn btn-primary btn-sm">Selectionner</button>
                            <button class="btn btn-light btn-sm">Modifier</button>
                        </div> 
                        </div>
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
            </ol>
        </div>
        <div class="card-footer text-body-secondary">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light btn-sm" (click)="addPlaylist()">Ajouter une playlist</button>
            </div>
        </div>
</div>     

